.imageModal {
  width: 150px;
  height: 150px;
}

.imageModal > img {
  width: 100%;
  height: 100%;
}

.paragraphModal {
  font-size: var(--lmo-fs-xl);
}

.close-modal-button {
  margin-left: 40%;
  background: url('src/assets/images/icons/menu/closeButtonBlood.png') center/contain no-repeat;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  height: 110px;
  width: 110px;
  pointer-events: all;
  opacity: 0.7;
}

.close-modal-button:hover {
  background-color: rgba(0, 0, 0, 0.033);
}

#credits-modal {
  border: 2px solid red;
}
