input {
  width: 90%;
  line-height: 35px;
  margin-bottom: 20px;
  padding: 0px 20px;
  font-size: 0.9rem;
  text-align: center;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  background-color: rgba(255, 255, 255, 0.041);
}

input:hover {
  cursor: text;
}

[role='label'] {
  margin-bottom: 5px;
  font-size: 1.3rem;
}
