[role='label'] {
  margin-bottom: 8px;
  margin-left: 5px;
  font-size: 1.3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

input {
  width: 70%;
  line-height: 35px;
  margin-bottom: 20px;
  padding: 0px 20px;
  font-size: 0.9rem;
  text-align: center;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(255, 255, 255, 0.795);
  color: black;
}

input:hover {
  cursor: text;
}

input:focus {
  outline: 0px transparent;
}

input::selection {
  background-color: rgba(0, 0, 0, 0.336);
}

#fields-modal input {
  opacity: 0.9;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
