.display-timer {
  position: absolute;
  top: -40px;
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 13px;
  font-family: 'JMH';
  font-weight: 200;
  opacity: 0.8;
}

.final-number {
  font-size: 7rem;
  opacity: 0.8;
}

#games-password {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('src/assets/images/pictures/console/windows/games-password.png') center/contain no-repeat;
}
