.final-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 4rem;
  opacity: 0.36;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#games-password {
  width: 182px;
  height: 72px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('/assets/images/pictures/console/Windows/games-password.png') center/contain no-repeat;
  filter: sepia(10%);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.418);
}

#games-password input {
  position: absolute;
  left: 13px;
  bottom: -2px;
  width: 83%;
  height: 23px;
  color: rgba(0, 0, 0, 0.699);
}
