#folder {
  position: absolute;
  top: 241px;
  left: 100px;
  width: 71px;
  cursor: pointer;
}

[id*='usb-'] {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  /* border: 1px solid red; */
}

#usb-0 {
  /* width: 60px; */
  top: 80px;
  left: 53px;
}

#usb-1 {
  /* width: 4px; */
  top: 80px;
  left: 130px;
}

#usb-2 {
  top: 80px;
  left: 200px;
}

#usb-3 {
  bottom: 67px;
  left: 53px;
}

.locked {
  background: url('/assets/images/icons/console/loading.gif') center/60% no-repeat;
  backdrop-filter: blur(0.05rem);
  pointer-events: none;
  /* border: 1px solid red; */
}

#files-explorer > span {
  width: 115px;
  position: absolute;
  bottom: 9px;
  left: 4px;
  color: #13100f;
  font-size: 10px;
  font-weight: 900;
  text-align: center;
}

#download-usb {
  position: absolute;
  bottom: 6px;
  right: 6px;
  padding: 1px;
  display: flex;
  gap: 0.125rem;
  width: 75%;
  height: 15px;
  align-items: center;
  border: 2px inset rgba(0, 0, 0, 0.5);
}

.downloading-block-usb {
  width: 6.89px;
  height: 11px;
  background-color: #1d1918b0;
}

#transfer-panel > div {
  width: 100%;
  height: 31px;
  display: flex;
  gap: 0.125rem;
}

#release {
  width: 166px;
  height: 65px;
  top: 67%;
  left: 20%;
  transform: translate(-50%, -50%);
  background: url('/assets/images/pictures/console/Windows/release-password.png') center/contain no-repeat;
  filter: grayscale(100%) sepia(18%);
  animation: text-shadow 1s linear infinite;
  box-shadow: none;
}

#release input {
  right: 19px;
  bottom: -4px;
  height: 21px;
  line-height: 1;
  animation: textShadow 1s linear infinite;
  opacity: 0.8;
}
