[room='bathroom'] .console.active {
  opacity: 0.7;
}

[room='bathroom'] img.ticket.active {
  transform: translateX(-30px);
}

[room='bathroom'] img.necessaire.active {
  transform: translate(40px, 90px) rotate(17deg);
}

[room='bathroom'] img.bottle.active {
  transform: translateX(25px);
}

[room='bathroom'] img.candle.active {
  transform: translateX(20px);
}

[room='bathroom'] img.jar.active {
  transform: translate(-80px, 180px);
}

[room='bathroom'] img.hatch.active {
  transform: translate(5px, 70px);
  filter: drop-shadow(1px 3px 5px black);
}

[room='bathroom'] img.switch.active {
  transform: rotate(13deg) scale(0.95) translate(-5px, 0px);
}

[room='bathroom'] img.basket.active {
  transform: translateY(170px);
}

[room='bathroom'] img.paint.active {
  transform: rotate(20deg);
}

[room='bathroom'] img.picture.active {
  transform: translateX(25px);
}

[room='bathroom'] img.door.active {
  filter: brightness(0.8);
}
