.item {
  position: fixed;
  width: 25px;
  display: none;
}

.item.found {
  display: block;
  z-index: 1;
}

.found {
  animation: object-found 2s infinite ease-in-out;
  margin-left: 10px;
  cursor: pointer;
}

@keyframes object-found {
  0% {
    transform: scale(1);
  }
  50% {
    filter: drop-shadow(0px 0px 6px #ffffff4d);
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(2px 2px 2px #ffffff1e);
  }
}
