/* Temporary STAGES */

.progress {
  position: fixed;
  right: 50px;
  top: 50px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.9375rem;
  width: 200px;
  height: 40px;
}

.progress div {
  flex-grow: 1;
  height: 100%;
}

.completed {
  background: url('src/assets/images/icons/menu/ReadyY.png') center/cover no-repeat;
}

/* Temporary STAGES */

.item {
  position: fixed;
  width: 30px;
  display: none;
}

.item.found {
  display: block;
  z-index: 1;
  /* border: 1px solid red; */
}

/* SPARKLE */

.found {
  animation: object-found 2s infinite ease-in-out;
  /* z-index: 555; */
}

@keyframes object-found {
  0% {
    transform: scale(1) rotate(43deg);
    opacity: 0.7;
  }
  50% {
    filter: drop-shadow(1px 2px 6px #ffffff3a);
    transform: scale(1.2) rotate(13deg);
    opacity: 0.7;
  }
  100% {
    transform: scale(1) rotate(43deg);
    filter: drop-shadow(1px 1px 1px #ffffff1e);
    opacity: 0.7;
  }
}
