.item {
  position: fixed;
  width: 30px;
  display: none;
}

.item.found {
  display: block;
  z-index: 1;
}

.found {
  animation: object-found 2s infinite ease-in-out;
  cursor: pointer;
}

@keyframes object-found {
  0% {
    transform: scale(1);
  }
  50% {
    filter: drop-shadow(1px 2px 6px #ffffff3a);
    transform: scale(1.2) rotate(13deg);
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(1px 1px 1px #ffffff1e);
  }
}
