@font-face {
  font-family: 'Hells';
  src: url('/src/assets/fonts/hells-kittchen-devil-god.bold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'JMH';
  src: url('/src/assets/fonts/JMHTypewriter.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Hells';
  letter-spacing: 1px;
  color: white;
  user-select: none;
  cursor: crosshair;
  /* cursor: none; */
}

:root {
  --blood-color: #8a0303;
}

body {
  background-color: black;
  color: #f4f4f4;
  /* cursor */
  overflow: hidden;
  /* cursor */
}

#app {
  width: 100svw;
  height: 90svh;
  margin-top: 5svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cursor Test */
/* 
#cursor {
  position: absolute;
  width: 60px;
  height: 60px;
  pointer-events: none;
  z-index: 9999999999999999999999999999999999999;
}

#cursor img {
  width: 100%;
  object-fit: cover;
} */

/* Cursor Test */

@keyframes players-hub-appearance {
  100% {
    opacity: 1;
  }
}

@keyframes error-field {
  25% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-3px);
    outline: 1px solid rgba(255, 0, 0, 0.329);
    color: var(--blood-color);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
    outline: none;
    color: white;
  }
}

@keyframes animation-fade {
  100% {
    opacity: 1;
    filter: none;
  }
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
