* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "HellsKitchen";
  src: url(./assets/fonts/hells-kittchen-devil-god.bold.otf);
  font-style: normal;
  font-weight: normal;
}

:root {
  /* TEXT COLORS */
  --lmo-main-text-color: #f4f4f4;

  /* BACKGROUND COLORS*/
  --lmo-bg-color: #1e1d1e;

  /* FONT SIZE */
  --lmo-fs-xs: 0.5em;
  --lmo-fs-s: 0.8em;
  --lmo-fs-m: 1em;
  --lmo-fs-l: 1.5em;
  --lmo-fs-xl: 2em;
  --lmo-fs-xxl: 3vw;
}

body {
  background-color: var(--lmo-bg-color);
  font-family: "HellsKitchen";
  color: var(--lmo-main-text-color);
}

.app {
  width: 100svw;
  height: 100svh;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
