@font-face {
  font-family: 'Hells';
  src: url('/src/assets/fonts/hells-kittchen-devil-god.bold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'JMH';
  src: url('/src/assets/fonts/JMHTypewriter.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Hells';
  letter-spacing: 1px;
  color: white;
  user-select: none;
}

:root {
  /* TEXT COLORS */
  --lmo-main-text-color: #f4f4f4;

  /* BACKGROUND COLORS*/
  --lmo-bg-color: #1e1d1e;

  /* FONT SIZE */
  --lmo-fs-xs: 0.5em;
  --lmo-fs-s: 0.8em;
  --lmo-fs-m: 1em;
  --lmo-fs-l: 1.5em;
  --lmo-fs-xl: 2em;
  --lmo-fs-xxl: 5em;

  /* MARGIN */
  --lmo-margin-xs: 0.5em;
  --lmo-margin-s: 0.8em;
  --lmo-margin-m: 1em;
  --lmo-margin-l: 1.5em;
  --lmo-margin-xl: 2em;
  --lmo-margin-xxl: 3em;

  /* COLORS */
  --blood-color: #8a0303;
}

body {
  font-family: 'Hells';
  background-color: var(--lmo-bg-color);
  color: var(--lmo-main-text-color);
}

#app {
  width: 100svw;
  height: 100svh;
}

@keyframes players-hub-appearance {
  100% {
    opacity: 1;
  }
}
