/* TEST POSITIONING */

/* .object {
  position: absolute;
  left: 948px;
  top: 304px;
  width: 50px;
} */

/* .collider {
  position: absolute;
  left: 988px;
  top: 319px;
  width: 15px;
  height: 15px;
  border: 1px solid yellow;
} */

/* TEST POSITIONING */

#room {
  position: relative;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

#room img {
  pointer-events: none;
}

.background {
  position: fixed;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

.open {
  display: block;
}

.closed {
  display: none;
}
