#warning * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#warning {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1.25rem;

  /* border: 1px solid red; */
}

#warning h3 {
  font-weight: 100;
  font-size: 3.3rem;
  color: var(--blood-color);
}

#warning p {
  font-size: 0.8em;
  text-align: center;
  /* white-space: pre-line; */
  line-height: 2.5;
}

#warning span {
  font-size: 10px;
  opacity: 0.3;
  margin-top: 10px;
}

#immersion {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110%;
  height: 100%;
  opacity: 0;
  animation: players-hub-appearance 1.5s ease-in-out forwards;
}

#immersion img {
  width: 60px;
  object-fit: cover;
  filter: invert(1);
  /* display: none; */
}

#immersion * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#immersion p {
  font-size: 14px;
  padding: 20px;
  line-height: 2.3;
  text-align: center;
  white-space: pre-line;
  backdrop-filter: blur(0.625rem);
}

#immersion span {
  position: absolute;
  bottom: 100px;
  margin-top: 60px;
  font-size: 16px;
  opacity: 0;
  animation: players-hub-appearance 1.5s ease-in-out forwards 2s;
}

#immersion span:hover {
  cursor: pointer;
}
