#warning * {
  font-family: 'JMH';
}

#warning {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  /* border: 1px solid red; */
}

#warning h3 {
  font-weight: 100;
  font-size: 3.3rem;
  color: var(--blood-color);
}

#warning p {
  font-size: var(--lmo-fs-s);
  /* text-align: center; */
  white-space: pre-line;
  line-height: 2.5;
}

#warning span {
  font-size: 13px;
  opacity: 0.3;
  margin-top: 30px;
}

#immersion {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: players-hub-appearance 1.5s ease-in-out forwards;
}

#immersion img {
  width: 200px;
  object-fit: cover;
  display: none;
}

#immersion * {
  font-family: 'JMH';
  font-size: 1.4rem;
}

#immersion p {
  padding: 20px;
  font-size: var(--lmo-fs-m);
  line-height: 2;
  text-align: center;
  white-space: pre-line;
  width: 60%;
  backdrop-filter: blur(0.625rem);
}

#immersion span {
  position: absolute;
  bottom: 100px;
  margin-top: 60px;
  font-size: var(--lmo-fs-m);
  opacity: 0;
  animation: players-hub-appearance 1.5s ease-in-out forwards 2s;
}

#immersion span:hover {
  cursor: pointer;
}
