.bug {
  width: 250px;
  height: auto;
  position: absolute;
  filter: drop-shadow(2px 2px 2px black);
}

.bugs-area {
  width: 85%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999999999;
  transform: translate(-50%, -50%);
}

.deploying {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  z-index: 9999999999;
  filter: drop-shadow(2px 2px 2px black);
}
