#chat-container {
  position: absolute;
  top: 0px;
  right: -600px;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 80%;
  width: 20%;
  transition: all 0.6s ease-in-out;
  animation: slide-to-right 0.6s ease-in-out;
}

@keyframes slide-to-right {
  0% {
    right: -600px;
  }
  100% {
    right: 0px;
  }
}

#chat-container.open {
  right: 40px;
}

#message-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: start;
  font-size: 11px;
}

.messages {
  height: 90%;
  width: 100%;
  list-style: none;
  overflow-y: scroll;
}

#message.self {
  text-align: end;
}

#message h4 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 100;
  font-family: 'JMH';
  opacity: 0.6;
}

#message span {
  font-size: 11px;
  font-family: 'JMH';
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 0px;
  height: 0px;
  background-color: transparent;
}
