#result {
  opacity: 0;
  animation: players-hub-appearance 2s ease-in-out forwards;
}

.waiting {
  animation: glitch 0.6s ease-in-out;
}

#confirmation-out {
  position: absolute;
  top: 60.2%;
  left: 67.7%;
  transform: translate(-50%, -50%) rotate(-7deg);
  filter: hue-rotate(135deg) sepia(35%) contrast(2);
  animation: textShadow 0.4s ease-in-out infinite;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  opacity: 0.7;
  font-size: 1.3rem;
}

#ending-stats * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ending-stats {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1408px;
  height: 708px;
  background: url('/assets/images/pictures/console/individual-stats.png') center/contain no-repeat;
  background-color: black;
}

.download-button {
  position: absolute;
  bottom: 140px;
  left: 100px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url('/assets/images/icons/menu/download.svg') center/contain no-repeat;
  opacity: 0;
  filter: brightness(0.6);
  animation: players-hub-appearance 2s ease-in-out forwards;
}

.download-button:hover {
  opacity: 1;
  filter: none;
}

#result > h1 {
  font-family: 'JMH';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 100;
}

.stat-span {
  position: absolute;
  font-size: 15px;
  color: #b9a9a5;
}

/* STATS */

[ID*='LS-errors'] {
  width: 140px;
  left: 410px;
  text-align: right;
  color: var(--blood-color);
}

#LS-errors_clicks {
  top: 470px;
}

#LS-errors_points {
  top: 424px;
}

#ending-stats > h1 {
  position: absolute;
  right: 438px;
  font-size: 7rem;
  font-weight: 400;
  margin-top: 60px;
}

#LS-username {
  font-size: 13px;
  top: 33px;
  left: 520px;
  opacity: 0.6;
}

#LS-date {
  font-size: 13px;
  top: 80px;
  left: 900px;
}

#LS-clicks {
  top: 470px;
  left: 620px;
}

#LS-games0 {
  top: 362px;
  left: 620px;
}

#LS-games1 {
  top: 393px;
  left: 620px;
}

#LS-games2 {
  top: 424px;
  left: 620px;
}

#LS-stage1 {
  top: 228px;
  left: 620px;
}

#LS-stage2 {
  top: 258px;
  left: 620px;
}

#LS-stage3 {
  top: 288px;
  left: 620px;
}

#LS-minigames0 {
  top: 362px;
  left: 674px;
}

#LS-minigames1 {
  top: 393px;
  left: 674px;
}

#LS-minigames2 {
  top: 424px;
  left: 674px;
}

#LS-total {
  font-size: 2.4rem;
  top: 131px;
  left: 605px;
  color: rgba(255, 255, 255, 0.719);
}

#LS-sent {
  top: 541px;
  left: 623px;
}

#LS-received {
  top: 541px;
  left: 677px;
}

#LS-alternative {
  top: 582px;
  left: 625px;
}
