.memorypath-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -34%);
  width: 390px;
  opacity: 0.7;
}

.map-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.void-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  border: 8px outset rgb(0, 0, 0);
  background-color: #000000;
}

.pop {
  background-color: rgba(255, 255, 255, 0.582);
}

.active-selected {
  background-color: rgba(255, 255, 255, 0.582);
}

.keyboard-memorypath {
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-memorypath {
  cursor: pointer;
  width: 40px;
}

#b1 {
  transform: rotate(90deg);
}

#b2 {
  transform: rotate(180deg);
}

#b3 {
  transform: rotate(-90deg);
}
