.memorypath-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
}
.map-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: blue;
}
.void-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border: 2px outset white;
}
.active {
  background-color: blue;
}
.active-selected {
  background-color: #03af23;
}
.keyboard-memorypath {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.button-memorypath {
  width: 50px;
  height: 50px;
}

#b1 {
  transform: rotate(90deg);
}
#b2 {
  transform: rotate(180deg);
}
#b3 {
  transform: rotate(-90deg);
}
