.progress {
  position: fixed;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.9375rem;
  width: 350px;
  height: 100px;
}

.progress div {
  flex-grow: 1;
  height: 100%;
}

.item {
  position: fixed;
  width: 40px;
  display: none;
}

.item.found {
  display: block;
}

.completed {
  background: url('src/assets/images/icons/menu/ReadyY.png') center/cover no-repeat;
}

/* SPARKLE */

.found {
  cursor: pointer;
  animation: object-found 0.6s infinite ease-in-out;
  z-index: 9999999;
}

@keyframes object-found {
  0% {
    transform: scale(1) rotate(23deg);
    opacity: 0.7;
  }
  50% {
    filter: drop-shadow(1px 2px 6px #ffffff54);
    transform: scale(1.1) rotate(13deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(23deg);
    filter: drop-shadow(1px 1px 1px #ffffff54);
    opacity: 0.7;
  }
}
