.ticket.active {
  transform: translateX(-30px);
}

.necessaire.active {
  transform: translate(40px, 90px) rotate(17deg);
}

.bottle.active {
  transform: translateX(25px);
}

.candle.active {
  transform: translateX(20px);
}

.jar.active {
  transform: translate(-80px, 180px);
}

.hatch.active {
  transform: translate(5px, 70px);
  filter: drop-shadow(1px 3px 5px black);
}

.switch.active {
  transform: rotate(13deg) scale(0.95) translate(-5px, 0px);
}

.basket.active {
  transform: translateY(170px);
}

.paint.active {
  transform: rotate(20deg);
}

.picture.active {
  transform: translateX(25px);
}

#room > div.clickable {
  pointer-events: all;
}
