/* TEST POSITIONING */

/* .object {
  position: absolute;
  left: 456px;
  top: 466px;
  width: 175px;
}

.collider {
  position: absolute;
  position: absolute;
  left: 456px;
  top: 466px;
  width: 173px;
  height: 140px;
  border: 1px solid yellow;
} */

/* TEST POSITIONING */

section#room {
  position: relative;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

#room > img {
  position: absolute;
  transition: all 0.7s ease-in-out;
  pointer-events: none;
}

#room > div {
  position: absolute;
  transition: all 0.1s ease-in-out;
  pointer-events: none;
}

#background {
  position: fixed;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
