#countdown-timer {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(0, -50%);
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: var(--blood-color);
}
