#inventory-active {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* position: fixed; */
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  opacity: 0;
  animation: players-hub-appearance 1.6s ease-in-out forwards 2s;
}

#inventory-passive {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 30px;
  right: 50px;
  background: url('/assets/images/icons/passive/Notebook.png') center/contain no-repeat;
  border-radius: 5px;
  padding: 5px;
  opacity: 0;
  animation: players-hub-appearance 1.6s ease-in-out forwards 3s;
  cursor: pointer;
}

#inventory-passive.init-main {
  bottom: 80px;
  right: 80px;
  animation: players-hub-appearance 0.6s ease-in-out forwards 0.7s;
}

#collection {
  display: none;
  display: grid;
  position: absolute;
  bottom: 20px;
  right: 12px;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  border-radius: 5px;
  padding: 5px;
  animation: glitch 0.4s forwards;
}

.item-inv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.item-inv img {
  width: 35px;
  /* height: auto; */
  border-radius: 5px;
  cursor: zoom-in;
}

/* ! */

[id^='inventory'] img {
  opacity: 0.4;
  filter: brightness(0);
  pointer-events: none;
}

[id^='inventory'] img.got {
  pointer-events: all;
  opacity: 1;
  filter: brightness(1);
}

/* ! */

.item-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px) brightness(0.6);
  opacity: 0;
  animation: players-hub-appearance 0.3s ease-in-out forwards;
  z-index: 777;
}

.item-modal img {
  max-height: 50%;
  pointer-events: all;
  filter: drop-shadow(1px 1px 3px black);
  -webkit-user-drag: none;
}
