#ethernet-game * {
  cursor: crosshair;
}

#ethernet-container {
  position: absolute;
  bottom: 40px;
  padding: 0px 20px;
  left: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  opacity: 0.7;
  /* height: 77%; */
  /* border: 1px solid green; */
}

.ethernet-port {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80px;
  height: 190px;
  /* background-color: grey; */
}

.ethernet-port:nth-child(1) {
  align-items: flex-start;
}

.ethernet-port:nth-child(1) div div {
  position: absolute;
  bottom: -10px;
  right: -25px;
}

.ethernet-port:nth-child(2) {
  align-items: flex-end;
}

.ethernet-port:nth-child(2) div div {
  position: absolute;
  bottom: -10px;
  left: -25px;
}

.ethernet-pin {
  position: relative;
  width: 80%;
  height: 15px;
  border: 1px outset grey;
  border-radius: 4px;
}

.pin-ball {
  cursor: crosshair;
  margin-bottom: 9px;
  width: 13px;
  height: 13px;
  border: 2px outset grey;
  border-radius: 50%;
}

div[id*='ball'].pin-ball-check {
  background-color: rgb(0, 0, 0);
}

.pin-ball-selected {
  border: 4px outset black;
}

.superposition {
  position: absolute;
  bottom: 1px;
  left: 0px;
  width: 100%;
  opacity: 0.96;
  /* border: 1px solid red; */
  z-index: 2;
}

#ethernet-game h2 {
  position: absolute;
  top: 28%;
  /* bottom: 18px; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  font-size: 2rem;
  /* opacity: 0.9; */
  width: 100%;
  text-align: center;
  /* border: 1px solid red; */
  color: #2b2a27;
  animation: glitch 0.3s ease-in-out 4;
  z-index: 1;
}

#ethernet-container div div {
  filter: invert(1);
  opacity: 0.9;
}

#E0 {
  background: url('../../../assets/images/icons/console/games/patterns/pattern1.webp') center/cover no-repeat;
}

#E1 {
  background: url('../../../assets/images/icons/console/games/patterns/pattern2.webp') center/cover no-repeat;
}

#E2 {
  background: url('../../../assets/images/icons/console/games/patterns/pattern3.webp') center/cover no-repeat;
}

#E3 {
  background: url('../../../assets/images/icons/console/games/patterns/pattern4.webp') center/cover no-repeat;
}

#E4 {
  background: url('../../../assets/images/icons/console/games/patterns/pattern5.webp') center/cover no-repeat;
}

#E5 {
  background: url('../../../assets/images/icons/console/games/patterns/pattern6.webp') center/cover no-repeat;
}

#E6 {
  background: url('../../../assets/images/icons/console/games/patterns/pattern7.webp') center/cover no-repeat;
}

#E7 {
  background: url('../../../assets/images/icons/console/games/patterns/pattern8.webp') center/cover no-repeat;
}
