.neuralnetwork-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pattern-row {
  display: flex;
  gap: 50px;
}
.neuron {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  border-radius: 50%;
}
.neuron-active {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: blue;
}
