#intro {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: filter 1s ease-in-out;
  background: url('/src/assets/images/pictures/menu/Main-menu.png') center/cover no-repeat;
}

#let-me-out {
  font-size: var(--lmo-fs-xxl);
  z-index: 1;
  position: absolute;
  rotate: 350deg;
  margin-bottom: var(--lmo-margin-xl);
  opacity: 0;
  animation: players-hub-appearance 3s ease-in-out forwards;
}

.version {
  z-index: 1;
  left: 20px;
}
