#intro {
  padding: 100px;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

#intro img {
  width: 450px;
  opacity: 0.9;
}

#intro * {
  font-family: 'JMH';
}

.gif {
  position: absolute;
  width: 100%;
  height: auto;
  filter: brightness(0.6) blur(10px);
  pointer-events: none;
}
