#intro {
  padding: 100px;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: black;
}

#intro h3 {
  font-size: 2rem;
}

#intro span {
  opacity: 0.3;
}

#intro img {
  width: 450px;
  opacity: 0.9;
}

#intro * {
  font-family: 'JMH';
}

.gif {
  position: absolute;
  width: 120%;
  height: auto;
  filter: brightness(0) blur(10px);
  pointer-events: none;
}
