article[id$='party'] {
  padding: 30px 50px 40px 50px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.253);
  /* animation: menu-down 1s ease-in-out forwards; */
}

@keyframes menu-down {
  0% {
    opacity: 0;
    transform: translateY(-62.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

article[id$='party'] h2 {
  margin-bottom: 5px;
  font-size: 3.5rem;
  transition: all 0.3s ease-in-out;
  filter: blur(0.1875rem);
}

article[id$='party'] h2:hover {
  filter: none;
  transition: all 0.3s ease-in-out;
}

article[id$='party'] h2.active {
  filter: none;
}

#join-party.out {
  transform: translate(1700px, 100px);
  opacity: 0;
  transition: all 1s ease-in-out;
}

#create-party.out {
  transform: translate(-1700px, 100px);
  opacity: 0;
  transition: all 1s ease-in-out;
}

#fields-modal {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: players-hub-appearance 1s ease-in-out forwards;
}
