article[id$='party'] {
  margin-left: 300px;
  padding: 30px 50px 40px 0px;
  width: 390px;
  height: fit-content;
  transition: all 1s ease-in-out;
}

article[id$='party'] h2 {
  cursor: pointer;
  font-size: 2.5rem;
  transition: all 0.3s ease-in-out;
  opacity: 0.3;
  font-weight: 200;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 80px;
}

article[id$='party'] h2:hover {
  opacity: 1;
}

article[id$='party'] h2.active {
  opacity: 1;
}

article[id$='party'].out {
  transform: translate(-1700px, 100px);
  opacity: 0;
  transition: all 1s ease-in-out;
}

#fields-modal {
  padding-left: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  animation: players-hub-appearance 1.5s ease-in-out forwards;
  transition: all 1s ease-in-out;
}

@keyframes menu-down {
  0% {
    opacity: 0;
    transform: translateY(-62.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
