[role='menu-select'] {
  padding: 10px 17px 3px 17px;
  font-size: 1.5rem;
  line-height: 1.7rem;
  opacity: 0.7;
  cursor: pointer;
  margin-block: 0rem;
  border-radius: 10px;
}

[role='menu-select']:hover {
  outline: 1px solid rgba(255, 255, 255, 0.267);
  opacity: 1;
  transition: all 0.5s ease-in-out;
  background-color: rgba(250, 235, 215, 0.075);
}
