[role='menu-select'] {
  padding: 10px 17px 3px 17px;
  font-size: 1.4rem;
  line-height: 1.7rem;
  opacity: 0.7;
  cursor: pointer;
  margin-block: 0rem;
  border-radius: 10px;
  width: fit-content;
}

[role='menu-select']:hover {
  opacity: 1;
  transform: scale(1.15);
  animation: glitch 0.4s ease-in-out;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
