#message-content {
  margin-top: 28px;
  margin-left: 5px;
  width: 95%;
  text-align: start;
  font-size: 10px;
  color: black;
}

.messages {
  margin-top: 50px;
  margin-left: 10px;
  padding: 5px 15px 15px 15px;
  height: 48%;
  width: 95%;
  list-style: none;
  overflow-y: scroll;
}

#chat-password {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('src/assets/images/pictures/console/windows/chat-password.png') center/contain no-repeat;
}

.messages h3 {
  position: absolute;
  top: -30px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.938);
}

#message.self {
  text-align: end;
}

#message h4 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 800;
  font-family: 'JMH';
  opacity: 0.8;
  color: black;
}

#message span {
  font-size: 11px;
  font-family: 'JMH';
  color: black;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 0px;
  height: 0px;
  background-color: transparent;
}
