#message-content {
  margin-top: 33px;
  margin-left: 5px;
  width: 95%;
  text-align: start;
  font-size: 11px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.815);
}

.messages {
  margin-top: 52px;
  margin-left: 12px;
  padding: 5px 15px 15px 15px;
  height: 47%;
  width: 94%;
  list-style: none;
  overflow-y: scroll;
  font-weight: 500;
}

#chat-password {
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('/assets/images/pictures/console/Windows/chat-password.png') center/cover no-repeat;
}

.messages h3 {
  position: absolute;
  top: -30px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.938);
}

#message.self {
  text-align: end;
}

#message h4 {
  margin-top: 10px;
  font-size: 10px;
  font-weight: 800;
  font-family: 'JMH';
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.466);
}

#message span {
  font-size: 10.5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
