[room='kitchen'] .console.active {
  opacity: 0.7;
}

[room='kitchen'] img.drawer.active {
  filter: drop-shadow(5px 5px 10px black);
}

[room='kitchen'] img.ticket.active {
  transform: translateX(20px);
}

[room='kitchen'] img.tv.active {
  transform: translate(25px, 4px);
}

[room='kitchen'] img.mess.active {
  transform: translate(25px, 4px);
}

[room='kitchen'] img.pan.active {
  transform: translate(-30px, 2px);
}

[room='kitchen'] img.sarten.active {
  transform: translateY(13px) rotate(-7deg);
}

[room='kitchen'] img.shield.active {
  transform: rotate(-7deg) translate(-15px, 15px);
}

[room='kitchen'] img.tea.active {
  transform: translateX(20px);
}

[room='kitchen'] img.under.active {
  transform: translate(-30px, 30px);
}

[room='kitchen'] img.hatch.active {
  transform: translateY(25px);
}

[room='kitchen'] img.door.active {
  filter: brightness(0.8);
}
