#menu-field {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  opacity: 0;
  z-index: 1;
  bottom: 80px;
  left: 80px;
  position: fixed;
  animation: players-hub-appearance 0.6s ease-in-out forwards 0.7s;
}
