#menu-field {
  position: absolute;
  bottom: 80px;
  left: 80px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.425rem;
  opacity: 0;
  animation: players-hub-appearance 0.6s ease-in-out forwards 0.7s;
}
