.bug {
  opacity: 0.8;
  width: 250px;
  height: auto;
  position: absolute;
  filter: drop-shadow(2px 2px 2px black);
}

.bugs-area {
  width: 85%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999999999;
  transform: translate(-50%, -50%);
}

.deploying {
  opacity: 0.8;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  z-index: 9999999999;
  filter: drop-shadow(2px 2px 2px black);
}

#subtitles {
  position: absolute;
  bottom: 100px;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#subtitles span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#thanks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 90px;
}

#thanks-container * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.85;
}

#thanks-container img {
  width: 180px;
  filter: invert();
  margin-bottom: 40px;
  margin-left: 45px;
}

#thanks-container h1 {
  font-weight: 600;
  font-size: 2rem;
}

#thanks-container p {
  text-align: center;
  white-space: pre-line;
  font-size: 0.9rem;
  line-height: 1.7;
  font-weight: 100;
}
