#menu-field {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  opacity: 0;
  z-index: 1;
  bottom: 80px;
  left: 80px;
  position: fixed;
  animation: players-hub-appearance 3s ease-in-out forwards;
}
