#main {
  position: relative;
  width: inherit;
  height: inherit;
  background: url('/assets/images/pictures/menu/Menu-16-9-2.png') center/cover no-repeat;
  opacity: 0;
  animation: animation-fade 2s ease-in-out forwards;
}

#let-me-out {
  display: none;
  font-size: 9rem;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%) rotate(-10deg);
  opacity: 0;
  animation: players-hub-appearance 0.6s ease-in-out forwards 0.4s;
}

#inventory-passive.init-main.first-pop {
  opacity: 0;
  animation: players-hub-appearance 1.3s ease-in-out forwards 11s;
}

#main.first-pop {
  animation: main-background 11s ease-out forwards;
}

#let-me-out.first-pop {
  animation: players-hub-appearance 4s ease-in-out forwards 7s;
}

#menu-field.first-pop {
  animation: players-hub-appearance 1.3s ease-in-out forwards 10s;
}

@keyframes main-background {
  0% {
    opacity: 0;
    height: 75%;
    filter: blur(8px);
  }
  35% {
    opacity: 0.7;
    height: 80%;
    transform: none;
  }
  100% {
    opacity: 1;
    height: 90svh;
    filter: none;
  }
}
