.modal * {
  font-family: 'JMH';
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 80svw;
  height: 60svh;
  z-index: 9;
  opacity: 0;
  visibility: visible;
  animation: appearance 1s ease-in-out forwards;
  backdrop-filter: blur(3.1875rem) brightness(0.4);
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.636);
}

.close-modal-button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 20px;
  font-size: 2rem;
  pointer-events: all;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  font-family: 'Hells';
}

.close-modal-button:hover {
  cursor: pointer;
  opacity: 1;
}

.modal span,
.modal h3 {
  font-size: 14px;
  width: 70%;
  text-align: center;
  white-space: pre-line;
  line-height: 2;
}

@keyframes appearance {
  100% {
    opacity: 1;
    visibility: visible;
  }
}
