#players-hub {
  position: absolute;
  left: 62.5%;
  bottom: -130px;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: players-hub-appearance 0.6s ease-in-out forwards;
}

#room-code {
  position: absolute;
  left: 0%;
  margin-top: -40px;
  opacity: 0.8;
  width: fit-content;
  margin-left: 15px;
  font-size: 1.7rem;
  font-family: 'JMH';
  background-color: rgba(0, 0, 0, 0.781);
}

.copy-code {
  position: absolute;
  margin-left: 10px;
  width: 20px;
  cursor: pointer;
}

.difficulty {
  position: absolute;
  top: -40px;
  left: 30px;
  opacity: 0.4;
}

.players {
  display: flex;
}

.players div {
  position: relative;
}

.players div:nth-child(1) {
  top: 10px;
  left: -10px;
}

.players div:nth-child(2) {
  top: 30px;
}

.players div h3 {
  position: absolute;
  top: -12%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  font-family: 'JMH';
  font-weight: 100;
  line-height: 20px;
  padding: 0px 10px;
  background-color: rgb(0, 0, 0);
}

.players div img {
  height: 230px;
  object-fit: cover;
  opacity: 0.4;
  pointer-events: none;
}

.players div:nth-child(1) img {
  height: 205px;
  margin-bottom: 50px;
}

.players div:nth-child(3) img {
  height: 170px;
  margin-bottom: 80px;
}

.intro-lobby {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  left: 70px;
  padding: 10px 30px 40px 0px;
  backdrop-filter: blur(3px);
  opacity: 0;
  white-space: pre-line;
  animation: players-hub-appearance 0.6s ease-in-out forwards;
}

.intro-lobby span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  line-height: 2;
  font-weight: 100;
}

.ready-button {
  background: url('/assets/images/icons/menu/ReadyN.png') center/contain no-repeat;
  position: absolute;
  bottom: -80px;
  left: 25px;
  height: 80px;
  width: 80px;
  pointer-events: all;
  animation: players-hub-appearance 0.6s ease-in-out;
}

.ready-button:hover {
  cursor: pointer;
  background-color: transparent;
  opacity: 1;
}

.ready-button.ready {
  background: url('/assets/images/icons/menu/ReadyY.png') center/contain no-repeat;
  opacity: 1;
}
