.error-field {
  position: absolute;
  bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  color: var(--blood-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.7;
}

input.error {
  animation: error-field 0.5s linear;
}
