.error-field {
  position: absolute;
  bottom: 10px;
  font-size: 10px;
  font-weight: bold;
  color: var(--blood-color);
  font-family: 'JMH';
}

input.error {
  animation: error-field 0.5s linear;
}

input:focus {
  outline: none;
}

input::selection {
  background-color: rgba(0, 0, 0, 0.562);
}
